{% load static %}
<link rel="stylesheet" href="{% static 'myapp2/css/style.css' %}">
{% block head %}


{% block content %}

    <main class="grid">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <img src="{% static 'myapp2/image/todo.png' %}" alt="">
    <h3> ¡Bienvenido,  {{ userName }} !</h3>
    <h5> Estado : 
        {% if state == False %}
            No estas al dia!!
        {% else %}
            En hora buena, estas al dia!!
        {% endif %}
    </h5>
    <ul>
        {% for item in todo %}
            <li id="{{ item.id }}"
            class="{% if item state == False %}
            no-okey
            {% else %}
            okey
            {% endif %}
            "> {{item.detail}} </li>
        {% endfor %}
    </ul>
    </main>
{% endblock %}