<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> ¡Bienvenido,  {{ userName }} !</h3>
    <h5> Estado : 
        {% if state == False %}
            No estas al dia!!
        {% else %}
            En hora buena, estas al dia!!
        {% endif %}
    </h5>
    <ul>
        {% for item in todo %}
            <li> {{ item }}</li>
        {% endfor %}
    </ul>
</body>
</html>